extends layout
block head
  link(rel='stylesheet' href='/stylesheets/results.css')

block content

  div(class='row h-75')
    div(class='jumbotron border border-secondary col-sm-12 align-self-center ')  
        h1(class='text-center pb-1') Results
        h6(class='text-center') A matching colorscheme for the provided image can be found below
        hr
        ul(class='border border-secondary rounded list-unstyled text-center')
            each color in image_colors

                //- First item needs rounded corners on the top
                if image_colors.indexOf(color) === 0
                    li(class='p-3 rounded-top' style='background-color: ' + color)
                        h3= color

                //- Last item needs rounded corners on the bottom
                else if image_colors.indexOf(color) === 4
                    li(class='p-3 rounded-bottom' style='background-color: ' + color)
                        h3= color

                //- The rest are not rounded - Each li has a background color of the color it contains
                else
                    li(class='p-3' style='background-color: ' + color)
                        h3= color

        p Here are your 5 colors! We reccomend using these colors as a baseline, and tweaking them as you see fit.

        p The first 1-3 colors should be pulled directly from your image. If none of them are similar, that means no single color covered more than 20% of your provided image. If this is your problem, you may want to try an image with less gradients and changing colors.

        p If you don't like the set of colors that you've been provided, try refreshing the page and clicking "Resend". For most images, this will provide a new colorscheme. If the application recognizes a lot of colors, the variation in colorschemes provided will decrease (example: if we only recognize one color, you'll get very different colorschemes on refresh, if three colors are recognized you won't find many different colorschemes)
